$fonts-by-lang: (
  '': '"Noto Sans TC", "Noto Sans HK", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR"',
  'zh-Hant-HK': '"Noto Sans HK", "Noto Sans TC", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR"',
  'zh-Hans': '"Noto Sans SC", "Noto Sans TC", "Noto Sans HK", "Noto Sans JP", "Noto Sans KR"',
  'ja': '"Noto Sans JP", "Noto Sans TC", "Noto Sans HK", "Noto Sans SC", "Noto Sans KR"',
  'ko': '"Noto Sans KR", "Noto Sans TC", "Noto Sans HK", "Noto Sans SC", "Noto Sans JP"',
);

// `font-family: "Roboto", sans-serif` in https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.css
$vuetify-classes: '', '.display-4', '.display-3', '.display-2', '.display-1', '.headline', '.title',
  '.subtitle-2', '.subtitle-1', '.body-2', '.body-1', '.caption', '.overline', '.text-h1',
  '.text-h2', '.text-h3', '.text-h4', '.text-h5', '.text-h6', '.text-subtitle-1', '.text-subtitle-2',
  '.text-body-1', '.text-body-2', '.text-button', '.text-caption', '.text-overline', '.text-sm-h1',
  '.text-sm-h2', '.text-sm-h3', '.text-sm-h4', '.text-sm-h5', '.text-sm-h6', '.text-sm-subtitle-1',
  '.text-sm-subtitle-2', '.text-sm-body-1', '.text-sm-body-2', '.text-sm-button', '.text-sm-caption',
  '.text-sm-overline', '.text-md-h1', '.text-md-h2', '.text-md-h3', '.text-md-h4', '.text-md-h5',
  '.text-md-h6', '.text-md-subtitle-1', '.text-md-subtitle-2', '.text-md-body-1', '.text-md-body-2',
  '.text-md-button', '.text-md-caption', '.text-md-overline', '.text-lg-h1', '.text-lg-h2',
  '.text-lg-h3', '.text-lg-h4', '.text-lg-h5', '.text-lg-h6', '.text-lg-subtitle-1',
  '.text-lg-subtitle-2', '.text-lg-body-1', '.text-lg-body-2', '.text-lg-button', '.text-lg-caption',
  '.text-lg-overline', '.text-xl-h1', '.text-xl-h2', '.text-xl-h3', '.text-xl-h4', '.text-xl-h5',
  '.text-xl-h6', '.text-xl-subtitle-1', '.text-xl-subtitle-2', '.text-xl-body-1', '.text-xl-body-2',
  '.text-xl-button', '.text-xl-caption', '.text-xl-overline';

@each $lang, $fonts in $fonts-by-lang {
  @each $class in $vuetify-classes {
    .v-application#{if($lang == '', '', ':lang(#{$lang})')} #{$class} {
      font-family: 'Roboto', 'Noto Sans', #{$fonts}, sans-serif !important;
    }
  }
}

code,
kbd,
pre,
samp {
  font-family: 'Fira Code', monospace !important;
}

.v-text-field__slot {
  input[type='number'] {
    text-align: right;
  }
}

:root {
  overflow-y: auto !important;
}

@media not screen and (pointer: coarse) {
  // Reference: https://github.com/StylishThemes/Overlay-Scrollbars
  :root {
    --custom-thumb-color: hsla(0, 0%, 50%, 0.5);
    --custom-track-color: transparent;
    --custom-width: thin;
    --webkit-scrollbar-thumb-hover: hsla(0, 0%, 50%, 0.5);
    --webkit-scrollbar-track-hover: transparent;
    --webkit-scrollbar-width-height: 8px;
    --webkit-scrollbar-border-radius: 4px;
  }
  *:not(select) {
    scrollbar-color: var(--custom-thumb-color) var(--custom-track-color) !important;
    scrollbar-width: var(--custom-width) !important;
  }
  ::-webkit-scrollbar {
    max-width: var(--webkit-scrollbar-width-height) !important;
    max-height: var(--webkit-scrollbar-width-height) !important;
    background: var(--custom-track-color) !important;
  }
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track-piece {
    background: var(--custom-track-color) !important;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--custom-thumb-color) !important;
    border-radius: var(--webkit-scrollbar-border-radius) !important;
  }
  ::-webkit-scrollbar-corner:hover,
  ::-webkit-scrollbar-track:hover,
  ::-webkit-scrollbar-track-piece:hover {
    background: var(--webkit-scrollbar-track-hover) !important;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--webkit-scrollbar-thumb-hover) !important;
  }
}
